/*公用类*/
.hide{display:none;}
.show{display:block;}
.marginTop42{margin-top:42px;}
.marginTop30{margin-top:30px;}
*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";

}
ul{list-style: none;padding: 0;margin:0;}
a{text-decoration: none;color:#333;}
h1,h2,h3,h4,h5,h6{font-weight: 300;}
/*====================头部======================*/
.top{
	width:100%;
	height:40px;
	background:#333;
	font-size:12px;
	color:#a4b094;
}
.top ul{
	text-align:center;
	margin-top:14px;
}
.top li{
	float:left;
	padding: 0 6px  0 6px;
	border-right:2px solid #424242;
	height:12px;
	line-height: 12px;
}
.top li a{
	color:#a4b094;
}
.top>.left{
	float:left;
	margin-left: 65px;
	width:588px;
}
.top>.left>li:first-child{
	padding-left: 0;
}
.top>.left>li:last-child{
	padding-right: 0;
	border-right:none;
}
.top #shopCar{
	float: right;
	width:120px;height:40px;background:#424242;text-align: center;margin-right: 61px;
	padding:12px 0 0 14px;box-sizing: border-box;position: relative;
}
.top .goods{width:300px;height:300px;position:absolute;right:61px;top:40px;text-align: center;
	background:white;box-shadow: 0 0 10px #ccc;
	z-index: 1;
}
.top >.right{float:right;width:130px;margin-right: 24px;}
.top>.right>li:first-child{
	padding-left: 0;
}
.top>.right>li:last-child{
	border-right: none;
}
/*=========================header===========================*/
header{width:1226px;margin:0 auto;height: 100px;}
header .imgBox{height:100%;position:relative;width:235px;float:left;}
header .imgBox #logo{width: 55px;height: 55px;position: absolute;
		left:0;top:50%;margin-top: -28px;}
header .imgBox #ad{
	width: 163px;
	height: 66px;
	margin-top: 17px;
	float:right;
}
header .nav{
	height: 100%;
	width:650px;
	float:left;
}
header .nav li{
	height:100%;
	float:left;
	padding: 0 10px 0px 10px;
	line-height: 100px;
	font-size: 15px;

}
header .search{
	width:297px;
	height: 100%;
	float:right;
	padding-top: 24px;
	position: relative;
	box-sizing: border-box;
}
header .search .ser1{
	height: 50px;
	float: left;
	width:244px;
}
	header .search .ser1 input{
		width:244px;
	    height: 50px;
	    outline: none;
	    border:1px solid #e0e0e0;
	   
	}
header .search .a  {
	position: absolute;
	top:42px;
	right:58px;
	width: 164px;
}
    header .search .a a{
    	font-size: 12px;
    	height: 18px;
    	color: #757575;
    	background: #eee;
    }
header .search .ser2{
    width: 50px;
    height: 50px;
    line-height: 50px;
    float: right;
    text-align: center;
    color: #616161;
    border:1px solid #e0e0e0;
}
header .search .keywordList{
	width:246px;
	height:300px;
	position: absolute;
	top:75px;
	background:white;
	border:1px solid #fff;
	z-index: 1;
}
header .search .keywordList li{
	height:30px;
	line-height: 30px;
	font-size: 12px;
	margin-left: 15px;

}
header .search .keywordList li a{color:#000;}
header .search .keywordList li span{font-size: 11px;color:#b0b0b0;margin-left: 100PX;}
/*============================头部下拉列表===================================*/
.select{width:100%; height:230px; position: absolute;background: white;box-shadow: 0 0 10px #ccc;z-index: 1;}
.select ul{
	width:1226px;
	height: 100%;
	padding-left: 62px;
}
.select ul li{
	width:203px;
	height:100px;
	border-right:1px solid #e0e0e0;
	float:left;
	margin: 36px auto;
	text-align: center;
}
.select ul li img{
width:160px;
height: 110px;
margin-bottom: 21px;
}
.select ul li h4{line-height: 24px;}
.select ul li p{
	line-height:24px;
	color:#ff6700;
}
/*==================主内容====================================*/
/*====================3.1轮播图区域start===================*/
.main{width: 1226px;margin:0  auto;}
.main> .banner{
	width:100%;
	height: 460px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.main>.banner>img{width: 1226px;height: 100%}
/*左边的侧边列表*/
.main>.banner .navL{
	width: 235PX;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.6);
}
/*.main>.banner .navL ul{width: 100%;height: 100%;padding: 20px 0 0 30px;}*没有效果*/
.main>.banner .navL>li:first-child{margin-top: 20px;}
.main>.banner .navL li{
		width: 100%;
		height: 42px;
		color:white;
		line-height: 40px;
		font-size: 12px;
}
.main>.banner .navL li a{/*a如何实现设置margin??*/
	margin-left: 28px;
	color:#fff;
}
.main>.banner .navL li span{
	float:right;
	margin-right: 25px;
}
/*隐藏的侧边栏*/
.main .banner .navHide{
	height: 460px;
	position: absolute;
	top:0;
	left:235px;
}
.main .banner .navHide .ulHide{
	height:460px;
	position: absolute;
	top:0;
	left:0;
	background-color: white;
	z-index: 1;
}
.main .banner .navHide .ulHide1{width: 226px;}
.main .banner .navHide .ulHide2{width: 532px;}
.main .banner .navHide .ulHide3{width: 798px;}
.main .banner .navHide li{
	position: relative;
	width: 266px;
	height: 76px;
	float:left;
}
.main .banner .navHide li img{
	width: 40px;
	height: 40px;
	position: absolute;
	left:20px;
	top: 50%;
	margin-top: -20px;
}
.main .banner .navHide li p{
	font-size: 12px;
	position: absolute;;
	left:70px;
	top:50%;
	margin-top: -6px;
}
.main .banner .navHide li .buy{
	width: 58px;
	height: 22px;
	line-height: 22px;
	position: absolute;
	top:50%;
	right: 10px;
	margin-top:-11px;
	font-size: 12px;
	border: 1px solid #ff6700;
	color:#ff6700;
	text-align: center;
}

.main .banner .round{
	width: 100px;
	height: 10px;
	position: absolute;
	right: 35px;
	bottom: 25px;
}
.main .banner .round li{
	width: 8px;
	height: 8px;
	float:left;
	border: 1px solid #71685d;
	margin-left: 10px;
	border-radius: 50%;
}
.main .banner .direc{
	width:41px;
	height: 69px;
	line-height: 50px;
	font-size: 28px;
	color: #fff;
	position: absolute;
	top:50%;
	margin-top: -35px;
	padding-top: 5px;
	box-sizing: border-box;
	text-align: center;
}
.main .banner .direc-L{
	left:235px;
}
.main .banner .direc-R{
	right:0px;
}

/*====================3.2轮播图区域下方列表start===================*/
.main .navB{
	font-size: 11px;
	width: 100%;
	height: 170px;
	margin-top: 14px;
}
.main .navB >li{
	float:left;
	margin-right: 15px;
	width: 316px;
	height: 100%;
}
.main .navB> li:first-child{width:234px;margin-right: 14px;}
.main .navB  >li img{
	width:316px;
	height: 170px;	
}
.main .navB .miniLink{
	padding: 9px 3px 9px 4px;
	background:#5f5750;
	box-sizing: border-box;
	width: 234px;
	height: 170px;
}
.main .navB .miniLink li{
	width: 70px;
	height: 76px;
	box-sizing: border-box;
	float:left;
	text-align: center;
	border-right:1px solid #665e57;
	}
	
	.main .navB .miniLink li a{
		display: block;
		margin-top: 15px;
		color:#cfcdcb;
	}
	.main .navB .miniLink li:last-child{border-right: none;}
.main .navB .miniLink .line{
	width:64px;
	height: 1px;
	background:#665e57;
	margin:5px 6px 5px 6px;
}
.main .navB .miniLink li:nth-child(3){
	margin-right: 0;
}
.main .navB .miniLink li:nth-child(6){margin-right: 0px;}
.main .navB li:last-child{margin-right: 0px;}
/*====================3.3小米明星单品start===================*/
.main .starPro{
	position:relative;
	width:100%;
	height: 464px;
	border:1px solid #fff;
	overflow:hidden;
}
.main .starPro h1{
	font-size: 22px;
	margin-top: 41px;
}
.main .starPro .p{
	width:34px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #e0e0e0;
	position: absolute;
	top:50px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}
.main .starPro .prev{
	right:35px;
	border-right:none;
	color:#dfdfe0;
}

.main .starPro  .next{
	right:0;
	color:#b0b4bc;
}
.main  .starPro .scroll{
	height:298px;
	position: absolute;
	top:85px;
	left:0;
	overflow: hidden;

}
.main  .starPro .scroll li{
	width: 234px;
	height:298px;
	margin-right: 14px;
	text-align: center;
	float:left;
border-top: 1px solid #ffac13;
}
.main .starPro .scroll li:nth-child(2){border-top: 1px solid #83c44e;}
.main .starPro .scroll li:nth-child(3){border-top: 1px solid #2196f3;}
.main .starPro .scroll li:nth-child(4){border-top: 1px solid #e53935;}
.main .starPro .scroll li:nth-child(5){border-top: 1px solid #00c0a5;margin-right: 0;}
.main .starPro .scroll li:nth-child(7){border-top: 1px solid #83c44e;}
.main .starPro .scroll li:nth-child(8){border-top: 1px solid #2196f3;}
.main .starPro .scroll li:nth-child(9){border-top: 1px solid #e53935;}
.main .starPro .scroll li:last-child{border-top: 1px solid #00c0a5;margin-right: 0;}
.main  .starPro .scroll li img{
	width:160px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.main  .starPro .scroll li h2{
	font-size:13px;
	color:#212121;
	line-height: 2em;
}
.main  .starPro .scroll li h3{
	font-size:11px;
	color:#b0b0b0;
	line-height: 1.5em;
}
.main  .starPro .scroll li p{/*没有实现*/
	font-size:13px;
	color:#ff6709;
	line-height:3em;
}
.main  .starPro .scroll li a{color:#212121;}
/*====================4各种产品列表(智能硬件.搭配.配件.周边.为你推荐.热评产品.内容.视频)start===================*/
/*本部分用到的公用类*/
.proList{
	width:100%;
	background: #f5f5f5;
	border:1px solid #f5f5f5;
}
.proList .list1266{
	width:1226px;
	margin:0 auto;
}
.proList .list1{
	height:656px;
	margin-top: 40px;
}
.proList .list1:first-child{
	margin-top:78px;
}
.proList h1{
	font-weight: 400;
	font-size: 22px;
	height: 22px;
	font-family: "SimHei";
}
/*查看全部*/
.proList h1 .toAll{
	height: 24px;
	line-height: 24px;
	float:right;
}
.proList h1 .toAll a{
	font-size: 16px;
	color:#424242;
	line-height: 16px;
}
.proList h1 .toAll a i{
	font-size:24px;
	color: #b0b0b0;
	display: block;
	float:right;
	margin-top: 6px;
	margin-left:3px;
}
/*智能硬件左边部分*/
.proList .product1{
	width:234px;
	height:628px;
	float:left;
	margin-top: 6px;
}
.proList .product1 li{width:234px; height:614px;margin-top:14px;}
.proList .product1 li img{width:234px; height:614px;}
/*公用右边栏*/
.proList .productR{
	width:980px;
	height:628px;
	float:right;
}
.proList .productR li{
	width:234px;
	height:300px;
	position: relative;
	float:left;
	background-color:white;
	text-align: center;
	 margin-right: 14px;
	 margin-top: 14px;
	}
.proList .productR li:nth-child(4){
	margin-right: 0;
}	 
.proList .productR li:nth-child(8){
	margin-right:0;
}
.proList .productR li:last-child{background: transparent;/*background: white;*/}
.proList #proYJ{background: #fff;}


.proList .productR li .floatTag{
	width:60px;
	height: 20px;
	margin: 0 auto;
	font-size: 11px;
	color:#fff;
}
.proList .productR li .f{background:#ffac13;}
.proList .productR li .d{background:#E53935;}
.proList .productR li .n{background:#83c44e;}
.proList .productR li img{
	width:160px;
	height: 160px;
	margin-top: 10px;
}
.proList .productR li h2{
	font-size:13px;
	margin-top: 15px;
}

.proList .productR li h3{
	font-size:11px;
	line-height: 2em;
	color:#b0b0b0;
}
.proList .productR li p{
	font-size:12px;
	line-height: 2em;
	color:#ff6700;
}
.proList .productR li .slideDiv{width:100%;
	height: 76px;background: #ff6700;
	position: absolute;bottom:0px;text-align: center;}
.proList .productR li .slideDiv h3{
	width:170px;line-height: 1.5em;margin: 7px auto;color:#fff;font-size:12px;
}	
.proList .productR li .slideDiv h3 p{
	font-size: 11px;
	color:rgba(255,255,255,0.6);
	line-height: 2.5em;
}
.proList .productR .twoRow{
	margin-top: -14px;
}
.proList .productR .twoRow li{
width: 100%;
height: 134px;
background:white;
margin-top: 14px;
}
.proList .productR .twoRow li:last-child{margin-top: 25px;}

.proList .productR .twoRow li img{
	width: 80px;
	height: 80px;
	float: right;
	margin-right: 25px;
	margin-top: 40px;
}
.proList .productR .twoRow .wrap{
	height: 36px;
	text-align: left;
	margin-left: 30px;
	margin-top: 50px;
	float:left;
}
.proList .productR .twoRow .wrap h1{font-size:18px;margin:0px;}
.proList .productR .twoRow .wrap h2{
	width: 80px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.proList .productR .twoRow .wrap h3{font-size:11px;color:#b0b0b0;line-height: 2em;}
.proList .productR .twoRow  #more{
	width:50px;
	height: 50px;
	margin-top: 50px;
	margin-right: 40px;
}
/*相应类别下的分类显示列表*/
.proList h1 .listn{
	float:right;
}
.proList h1 .listn li{
	height:25px;
	float:left;
	font-size:16px;
	text-align: center;
	margin-left: 30px;
}
.proList h1 .listn li:first-child{
	border-bottom: 1px solid #ff6700;
	color:#ff6700;}
.proList h1 .list4{
	width:330px;
}

/*公用左边栏 (wei xie)*/
.proList .productL{
	width:234px;
	height:628px;
	float:left;
	margin-top: 6px;
}
.proList .productL li{
	width: 234px;
	height:300px;
	margin-top: 14px;
}
.proList .productL li img{height:300px; width:234px;}

/*为你推荐*/
.proList .recommend{
	height:340px;
	position: relative;
	overflow: hidden;
	margin:40px auto 0;
}
.proList .recommend h1{
	font-size: 22px;
	line-height: 22px;
	height: 22px;
}
.proList .recommend .p1{
	height:22px;
	width: 34px;
	position: absolute;
	top:0;
	border:1px solid #e0e0e0;
	text-align: center;
	line-height:22px ;
	font-size: 16px;
	font-weight: bold;
}
.proList .recommend .prev2{
	right:35px;
	border-right: none;
	color:#dfdfe0;
}
.proList .recommend .next2{
	right:0;
	color:#b0b4bc;
}
.proList .recommend .scroll2{
	position: absolute;
	overflow: hidden;
	top:26px;
	left:0px;
	height:314px;
}
.proList .recommend .scroll2 li{
	float:left;
	width:234px;
	height: 300px;
	text-align: center;
	margin-top: 14px;
	margin-right: 14px;
	background:white;
}
.proList .recommend .scroll2 li:nth-child(5){margin-right: 0;}
.proList .recommend .scroll2 li:nth-child(10){margin-right: 0;}
.proList .recommend .scroll2 li:nth-child(15){margin-right: 0;}
.proList .recommend .scroll2 li:last-child{margin-right: 0;}
.proList .recommend .scroll2 li img{
	width: 130px;
	height: 130px;
	margin:50px 0 30px;
}
.proList .recommend .scroll2 li h2{
	font-size: 12px;
	color:#212121;
}
.proList .recommend .scroll2 li p{
	font-size:12px;
	color:#ff6709;
	line-height: 3em;
}
.proList .recommend .scroll2 li h3{
	font-size: 12px;
	color:#757575;
}

/*热评产品*/
.proList .hot{
	height: 455px;
	margin: 40px auto 0;
}
.proList .hot h1{
font-size:22px;
line-height: 22px;
height: 22px;
}
.proList .hot .hotList{
	width: 100%;
	height: 415px;
}
.proList .hot .hotList li{
	width: 296px;
	height:415px;
	float:left;
	margin: 19px 14px 0 0;
	background: #fff;
}
.proList .hot .hotList li:last-child{
	margin-right: 0;
}
.proList .hot .hotList img{
	width:296px;
	height:220px;
}
.proList .hot .hotList li .textDtl{
	position: relative;
	width:100%;
	height: 194px;
}

.proList .hot .hotList li .textDtl h2{
	font-size:13px;
	position: absolute;
	top:28px;
	left:28px;
	color:#000;
	width:240px;
}
.proList .hot .hotList li  .textDtl h3{
	position: absolute;
	top:125px;
	left:28px;
	font-size:11px;
	color:#b0b0b0;
}
.proList .hot .hotList  li .textDtl  p{
	position: absolute;
	top:153px;
	left:28px;
	font-size: 13px;
	color:#ff6709;
}
/*内容*/
.proList .content{
	height: 460px;
	margin:40px auto 0;
}
.proList .content h1{
	font-size:22px;
	height:22px;
	line-height: 22px;
	margin-bottom: 19px;
}
.proList .content .contList{width:100%;height: 420px;}
.proList .content .contList >li{
	position: relative;
	width:296px;height: 420px;
	float: left;
	border-top: 1px solid #ffac13;
	text-align: center;
	margin-right: 14px;
	color:#ffac13;
	background: #fff;
	overflow: hidden;
}
.proList .content .contList li:nth-child(2){
	border-top: 1px solid #83c44e;
	color:#83c44e;
}
.proList .content .contList li:nth-child(3){
	border-top: 1px solid #e53935;
	color:#e53935;
}
.proList .content .contList li:last-child{
	border-top:1px solid #2196f3;
	color:#2196f3;
	margin-right: 0;
}
.proList .content .contList li .kind{
	width:100%;
	position: absolute;
	top:50px;
	margin: 0 auto;
}
.proList .content .contList li .contBox{
	width: 400%;
	height: 420px;
	position: absolute;
	top:90px;
}
.proList .content .contList li .p2{
	width: 20px;
	height:48px;
	position: absolute;
	top: 50%;
	margin-top: -24px;
	line-height: 48px;
	color:#fff;
	background-color: #b0b0b0;
	font-size:16px;
	font-weight: 600;
	opacity: 1;

}
.proList .content .contList li .r2{right:25px;}
.proList .content .contList li .l2{left:0px;}
.proList .content .contList li .contBox li{
	width:296px;
	height:260px ;
	float:left;
	overflow: hidden;
position: relative;
text-align: center;
}

.proList .content .contList li .contBox li h1{
	font-size: 22px;
	line-height: 1.5em;
	margin:0;
}

.proList .content .contList li .contBox li h3{
	width: 192px;
	font-size:11px;
	line-height: 1.5em;
	margin: 15px auto 0;
}

.proList .content .contList li .contBox li h3 a{color:#b0b0b0;}
.proList .content .contList li .contBox li h2{
	font-size: 13px;
	position: absolute;
	top:82px;
	width: 100%;
	margin:0 auto;
}
.proList .content .contList li .contBox li img{
	position: absolute;
	width: 216px;
	height: 154px;
	display: block;
	top:120px;
	left:40px;
}
.proList .content .contList li .contBox li .goTo{
	width: 118px;
	height: 28px;
	border:1px solid;
	margin: 10px auto;
	font-size:11px;
	line-height: 28px;
}
.proList .content .contList li  .round2{
	width: 140px;
	position: absolute;
	right: 78px;
	bottom:24px;
}
.proList .content .contList li  .round2 p{
	width: 6px;
	height: 6px;
	border:2px solid #fff;
	border-radius: 50%;
	float:left;
	margin: 0 12px;
	background-color: #b0b0b0;
}
.proList .content .contList li  .round2 p:first-child{
	border:2px solid #ff6700;
	background: #fff;
}

/*视频*/
.proList .video{
	height:386px;
	margin:40px auto 0;
}
.proList .video .videoList{
	width:1226px;
	height:305px;
	margin-top: 6px;
}
.proList .video .videoList li{
	width:296px;
	height:285px;
	float:left;
	text-align: center;
	background-color: #fff;
	margin-top: 14px;
	margin-right:14px;
	position: relative;
}
.proList .video .videoList li:last-child{margin-right: 0;}
.proList .video .videoList li img{width: 296px;height: 180px;}
.proList .video .videoList li .icon-bofang{
	position: absolute;
	top:120px;
	left:20px;
	font-size: 30px;
	color: #fff;
}
.proList .video .videoList li h2{
	font-size: 12px;
	margin-top: 25px;
}
.proList .video .videoList li h2 a{color:#212121;}
.proList .video .videoList li h3{
	font-size: 11px;
	line-height: 3em;
	color:#b0b0b0;
}
/*底部*/
footer{
	width: 1228px;
	margin: 0 auto;
	background-color: #fff;
}
footer .nav1{
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	height: 80px;
}
footer .nav1 li{
	width: 243px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: left;
	margin-top: 27px;
	border-right: 1px solid #e0e0e0;
}
footer .nav1 li:last-child{border-right: none;}
footer  .nav2Box{width: 100%;height: 192px;}

footer .nav2Box .nav2{
	width:974px;
	float:left;
}
footer .nav2Box .nav2 li{
	width: 160px;
	float:left;
}
footer .nav2Box .nav2 li h4{
	font-size: 12px;
	color:#212121;
	margin-bottom: 32px;
}
footer .nav2Box .nav2 li a{
	display: block;/*为神马*/
	font-size: 11px;
	line-height: 2em;
	color: #757575;
}
footer .nav2Box .marginTop{margin-top: 42px;}

#contact{
	width: 252px;
	float:right;
	text-align: center;
}

#tel{
	font-size: 16px;
	color:#ff6709;
	font-weight: 500;
}
#conTime{
	color:#616161;
	line-height: 1.5em;
}
#serv{
	font-size: 11px;
	border:1px solid #ff6709;
	width:118px;
	height: 28px;
	margin: 20px auto;
	line-height: 28px;

}
footer .statement{
	width: 100%;
	height: 85px;
}

footer .statement .staTxt{
	height:55px;
	float:left;
	background: url(../img/xmlogo_03.png) no-repeat 0px 0px;
	padding-left: 66px;
	font-size: 11px;
}
footer .statement .staTxt .navFoot li{
	float: left;
	border-right: 1px solid #ccbaba;
	margin-right: 3px;
	padding-right: 3px;
	line-height: 1.2em;
}
footer .statement .staTxt .navFoot li a{color:#757575;}
footer .statement .staTxt .navFoot li:last-child{
	border-right: 0;
}
footer .statement .staTxt .staLink{
	color:#b0b0b0;
	line-height: 1.5em;
}
footer .statement .staTxt .staLink{
	color:#b0b0b0;
}
footer .statement .staLogo{float:right;}
footer .statement .staLogo li{float:left;}
footer .statement .staLogo li img{
	width: 84px;
	height: 28px;
}
footer .logan{
	margin:30px auto 50px;
	font-size:18px;
	text-align:center;
	font-family:"宋体";
	color:#bababa;
}